@model DDDiplom.Models.User

@{
    ViewData["Title"] = "Create";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/style.css">

}
<div id="container">
    @section WindowName
{
        <div class="action-title">
            <div class="container">
                <p class="action-text">Окно добавления нового сотрудника</p>
            </div>
        </div>
    }
    <hr class="nav-line" noshade>
    <form asp-action="Create" id='form'>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label id='lname' asp-for="Name">Имя:</label><input type="text" asp-for="Name" id="name"><span asp-validation-for="Name" id="name"></span>
        </div>
        <div class="form-group">
            <label id='lsurname' asp-for="Secondname">Фамилия:</label><input type="text" asp-for="Secondname" id='surname' ><span asp-validation-for="Secondname"id='surname'></span>
        </div>
        <div class="form-group">
            <label id='lpatronymic' asp-for="Surname">Отчество:</label><input type="text" asp-for="Surname" id='patronymic'><span asp-validation-for="Surname" id='patronymic'></span>
        </div>
        <div class="form-group">
            <label id='lpvz' asp-for="Login">логин:</label><input type="text" asp-for="Login" id='pvz'><span asp-validation-for="Login" id='pvz'></span>
        </div>
        <div class="form-group">
            <label id='lpvz' asp-for="Password">логин:</label><input type="text" asp-for="Password" id='pvz'><span asp-validation-for="Password" id='pvz'></span>
        </div>
    <div class="form-group">
        <label id='lexperience' asp-for="Experience">Стаж работы:</label><input type="text" asp-for="Experience" id='experience'><span asp-validation-for="Experience" id='experience'></span>
    </div>
    <div class="form-group">
        <label id='lpvz' asp-for="Role">Должность:</label><input type="text" asp-for="Role" id='pvz'><span asp-validation-for="Role" id='pvz'></span>
    </div>
    <div class="form-group">
        <label id='lpvz' asp-for="WorkPlace">Стаж работы:</label><input type="text" asp-for="WorkPlace" id='pvz'><span asp-validation-for="WorkPlace" id='pvz'></span>
    </div>
        <input type="submit" id='sbmt-button' value="Сохранить" class="btn btn-primary" />
    </form>
</div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
     

