@model DDDiplom.Models.WorkPlace
@{
    ViewData["Title"] = "Details";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/style.css">

}
<div id="container">
    @section WindowName
{
        <div class="action-title">
            <div class="container">
                <p class="action-text">Редактирование данных о пункте самовывоза</p>
            </div>
        </div>
    }
    <hr class="nav-line" noshade>
    <form asp-action="Edit" id='form'>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label id='lname' asp-for="Name">Имя:</label><input type="text" asp-for="Name" id="name"><span asp-validation-for="Name" id="name"></span>
        </div>
        <div class="form-group">
            <label id='lsurname' asp-for="Address.City">Город:</label><input type="text" asp-for="Address.City" id='surname'><span asp-validation-for="Address.City" id='surname'></span>
        </div>
        <div class="form-group">
            <label id='lpatronymic' asp-for="Address.Street">Улица:</label><input type="text" asp-for="Address.Street" id='patronymic'><span asp-validation-for="Address.Street" id='patronymic'></span>
        </div>
        <div class="form-group">
            <label id='lexperience' asp-for="Address.BuildingNumber">Квартира:</label><input type="text" asp-for="Address.BuildingNumber" id='experience'><span asp-validation-for="Address.BuildingNumber" id='experience'></span>
        </div>
        <input type="submit" id='sbmt-button' value="Сохранить" />

    </form>
    <form asp-action="Delete" id="form">
        <br>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" id='sbmt-button' />
    </form>
</div>