@model IEnumerable<DDDiplom.Models.Order>
}
@section Styles
    {
    <link href="~/css/main.css" rel="stylesheet" />
}
@section WindowName
{
    <div class="action-title">
        <div class="container">
            <p class="action-text">Окно администратора</p>
        </div>
    </div>
}
<hr class="nav-line" noshade>
<div class="act-buttons">
    <li class='act-button' id='actBackButton'><a asp-action="Index">посмотреть</a></li>
    <li class='act-button' id='actAddButton'><a asp-action="Create">добавить +</a></li>
</div>
<div class="table-search">
    <input type="text" name="table-search" id="tableSearch">
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Оплачено:
                    </th>
                    <th>
                        Суммарная стоимость:
                    </th>
                    <th>
                        Дата заказа:
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class='table__name'>
                        @Html.DisplayFor(modelItem => item.IsPaid)
                    </td>
                    <td class='table__name'>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                    <td class='table__name'>
                        @Html.DisplayFor(modelItem => item.OrderTime)
                    </td>
                    <td>
                    <td class='table__button'>
                        <a asp-action="Edit" asp-route-id="@item.Id">Просмотреть</a>                    
                    </td>
                </tr>
                }
            </tbody>
        </table>
       </div>
