@{
    ViewData["Title"] = "Home Page";

}
@section WindowName
{
    <div class="action-title">
        <div class="container">
            <p class="action-text">Главная страница</p>
        </div>
    </div>
}